{% extends "admin_base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="w-100" style="max-width: 576px;">
            <h2>Transaktion hinzufügen</h2>
            <form method="post">
                <label class="form-label">Mitglied</label>
                <select class="form-select" name="email" id="emailSelect" required>
                    {% for member in members %}
                    <option value="{{ member.email }}" {% if member.email == selected_email %}selected{% endif %}>
                        {{ member.title }} {{ member.last_name }} [{{ member.email }}]
                    </option>
                    {% endfor %}
                </select>
                <label class="form-label mt-2">Datum</label>
                <input type="date" name="date" class="form-control" id="date_form" value="{{ current_date }}" required>

                <label class="form-label mt-2">Betrag</label>
                <input type="number" name="amount" step="0.01" class="form-control" required>

                <label class="form-label mt-2">Transaktionstyp</label>
                <select class="form-select" name="type" id="type" onchange="updateDescriptionAndExtras()" required>
                    <option value="1">Beliebig</option>
                    <option value="2">Getränkeabrechnung</option>
                    <option value="3">Gutschrift</option>
                    <option value="4">Strafe</option>
                    <option value="5">Rückerstattung (AaA)</option>
                </select>

                <div id="description-field">
                    <label class="form-label mt-2">Beschreibung</label>
                    <input type="text" name="description" id="description" class="form-control">
                </div>

                <div id="extra-fields"></div>

                <button type="submit" class="btn btn-primary mt-3">Hinzufügen</button>
            </form>
        </div>
        <div class="w-100" style="max-width: 960px;">
            <hr class="mt-5">
            <h4>Transaktionen</h4>
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th class="text-center">Datum</th>
                    <th class="text-center">Betrag</th>
                    <th class="text-center">Beschreibung</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody id="transaction-body"></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin_transaction.js') }}"></script>
{% endblock %}