# Sensitive config files
.env
config/settings.json

# Python cache and temporary files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Log files
*.log

# PyCharm project files
.idea/
*.iml

# System-specific files
.DS_Store
Thumbs.db
